@use 'variables' as v;

// Media Queries
@mixin tablet {
    @media (width >= v.$tablet) {
        @content;
    }
}

@mixin laptop {
    @media (width >= v.$laptop) {
        @content;
    }
}

@mixin phone {
    @media (width >= v.$phone) {
        @content;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin container {
    width: min(95%, 115rem);
    margin: 0 auto;
}

@mixin container-xl {
    width: min(95%, 90rem);
    margin: 0 auto;
}

@mixin container-md {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin container-sm {
    width: min(95%, 50rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$font-principal;
    font-weight: v.$bold;
    margin: 2rem 0;
}
