// Fonts
$font-principal: 'Be Vietnam Pro', sans-serif;

// Media Queries
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

// Colors
$purple: #4036a9;
$dark: #111729;
$gray: #cdd5e0;
$gray-light: #f8fafc;
$white: #ffffff;

// Font weight
$regular: 400;
$bold: 700;