@use '../base/variables' as v;
@use '../base/mixins' as m;

.titles {
    @include m.laptop {
        @include m.container-md;
    }

    @include m.container-sm;

    margin-bottom: 7.2rem;

    &__title, &__subtitle {
        text-align: center;
    }

    &__title {
        @include m.laptop {
            font-size: 6.4rem;
        }

        font-size: 4.4rem;
        margin-bottom: 1.6rem;
        font-weight: v.$semi-bold;
    }

    &__subtitle {
        @include m.laptop {
            font-size: 3.2rem;
        }

        font-size: 1.8rem;
        font-weight: v.$regular;
    }
}
